.nav-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: flex;
  align-items: center; 
  justify-content: center; 
}

.nav-button:hover {
  background-color: var(--color-accent);
  color: var(--color-accent-foreground);
}

.scrolled {
  background-color: rgba(10, 10, 10, 0.9);
  transition: background-color 0.3s ease;
}

nav {
  z-index: 9999;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: auto; 
  white-space: nowrap; 
  scrollbar-width: thin; 
  scrollbar-color: transparent transparent; 
}

nav::-webkit-scrollbar {
  height: 8px; 
}

nav::-webkit-scrollbar-thumb {
  background-color: transparent; 
}

nav::-webkit-scrollbar-track {
  background-color: transparent; 
}
